main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.purpCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 22px;
}

.testCardContainer {
    display: flex;
    flex-direction: column;
    padding-top: 53px;
    gap: 37px;
}