main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.aboutSection {
    display: flex;
    flex-direction: column;

    margin: 100px auto 0 auto;
    width: 888px;
    height: 333px;
}

.title {
    text-align: center;
    font-size: 87px;
    font-family: var(--font-inter);
}

.body {
    text-align: center;
    font-size: 20px;
    font-family: var(--font-inter);
}

.purposeSection {
    display: flex;
    flex-direction: column;

    margin: 50px auto 0 auto;
}

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 956px;
    gap: 22px;
}