.resumeButton {
  height: fit-content;

  padding: clamp(4px, 1.06vw, 8px) clamp(8px, 2.13vw, 16px);
  border-radius: 8px;

  font-weight: 700;
  font-size: clamp(13px, 2.13vw, 16px);
  background-color: var(--primary);
  text-decoration: none;
}

.resumeButton:hover {
  cursor: pointer;
}