.resumeButton {
  height: fit-content;

  padding: 8px 16px;
  border-radius: 8px;

  font-weight: 700;
  background-color: var(--primary);
  text-decoration: none;
}

.resumeButton:hover {
  cursor: pointer;
}