.piiCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    font-size: clamp(13px, 1vw, 24px);
}

.pii {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 700;
    text-align: center;
}

.image {
    background-color: var(--neutral-white);
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-bottom: 20px;
}

.list {
    font-weight: 700;
    justify-content: space-between;
    display: flex;
}

.list p:last-child {
    color: var(--tertiary);
}