.mainCont {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--neutral-white);
    padding-left: 10px;
    width: 584px;
    cursor: pointer;
}

.titleContainer {
    position: absolute;
    top: -70px;

    display: flex;
    gap: 9px;
    flex-direction: row;
    align-items: end;
}

.image {
    display: flex;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 10px;
    width: 88px;
    height: 88px;

    box-shadow:
        0 3px 6px 0 rgba(0, 0, 0, 0.401),
        0 2px 2px 0 rgba(0, 0, 0, 0.171);
}

.name {
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 21.33px;
}

.bodyContainer {
    position: relative;
    overflow: hidden;
    transition: 500ms;
}

.body {
    padding-top: 25px;
    font-family: var(--font-inter);
    font-size: 17.07px;
}

.readMore {
    position: absolute;
    display: flex;
    width: 100%;
    height: 60px;
    align-items: flex-end;
    justify-content: flex-start;

    font-family: var(--font-inter);
    font-size: 17.07px;
    color: rgb(0, 170, 255);

    bottom: 0;
    background-image: linear-gradient(0, var(--primary), rgba(0, 255, 255, 0))
}

.alignRight .body {
    text-align: end;
}

.alignRight .readMore {
    align-items: flex-end;
    justify-content: flex-end;
}

.alignRight .titleContainer {
    right: 0;
    flex-direction: row-reverse;
}