.mainContainer {
    display: flex;
    width: 80%;
    margin: 100px auto;
    background-color: aqua;
}

.staggered {
    flex-direction: row-reverse;
}

.mockupContainer,
.code {
    margin: 10px;
    width: 50%;
}

.code {
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #424242;
}

.codeContainer {
    font-size: 20px;
}

.projectHeader {
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 13px;
}

.macGUI {
    display: flex;
    gap: 3px;
}

.ellipse:nth-child(1) {
    background-color: #FF605C;
}

.ellipse:nth-child(2) {
    background-color: #FFBD44;
}

.ellipse:nth-child(3) {
    background-color: #00CA4E;
}

.ellipse {
    background-color: aqua;
    border-radius: 100%;
    height: 13px;
    aspect-ratio: 1;
}

.line {
    height: 1px;
    margin-bottom: 10px;
    background-color: var(--neutral-white);
}

.pink {
    color: #FF70EA;
}

.container {
    padding-left: 60px;
}

.orange {
    color: #EBC54B;
}

.gray {
    color: #838383;
}

/* Computer css */
.mockupContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monitorFrame {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 17px solid var(--neutral-black);
    border-radius: 10px;
}

.monitorFrame img {
    width: 100%;
    height: 100%;
}

.monitorStand {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.standNeck {
    width: 50%;
    height: 60px;
    background-color: gray;
    clip-path: polygon(0% 0%,
            33.33% 0%,
            33.33% 40%,
            33.33% 50%,
            66.66% 50%,
            66.66% 0,
            100% 0,
            100% 100%,
            0% 100%,
            0% 0%);
}

/* .standBase {
    width: 100%;
    height: 10px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
} */