.mainContainer {
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.staggered {
    flex-direction: none;
}

.mockupContainer,
.code {
    margin: 10px;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.code {
    overflow: scroll;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #424242;
    aspect-ratio: unset;
}

.codeContainer,
.container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.codeContainer {
    font-size: clamp(10px, 1.4vw, 20px);
    font-family: var(--font-code);
}

.projectHeader {
    font-size: clamp(10px, 2.4vw, 25px);
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 13px;
}

.macGUI {
    display: none;
}

.line {
    height: 1px;
    margin-bottom: 10px;
    background-color: var(--neutral-white);
}

.pink {
    color: #FF70EA;
}

.orange {
    color: #EBC54B;
}

.blue {
    color: #00ccff;
}

.container {
    padding-left: 0px;
}

.gray {
    color: #838383;
}

/* Computer css */
.mockupContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monitorFrame {
    width: 100%;
    height: 100%;
    border: clamp(10px, 1.41vw, 17px) solid var(--neutral-black);
    border-radius: 10px;
}

.monitorFrame img {
    width: 100%;
    height: 100%;
}

.monitorStand {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.standNeck {
    width: 50%;
    height: 60px;
    background-color: gray;
    clip-path: polygon(0% 0%,
            33.33% 0%,
            33.33% 40%,
            33.33% 50%,
            66.66% 50%,
            66.66% 0,
            100% 0,
            100% 100%,
            0% 100%,
            0% 0%);
}

@media (min-width:720px) {
    .macGUI {
        display: flex;
        gap: 3px;
    }

    .ellipse:nth-child(1) {
        background-color: #FF605C;
    }

    .ellipse:nth-child(2) {
        background-color: #FFBD44;
    }

    .ellipse:nth-child(3) {
        background-color: #00CA4E;
    }

    .ellipse {
        border-radius: 100%;
        height: 13px;
        aspect-ratio: 1;
    }

    .container {
        padding-left: 60px;
    }

}

@media (min-width:1200px) {

    .code {
        aspect-ratio: 16 / 9;
    }

    .mainContainer {
        flex-direction: row;
        width: 80%;
    }

    .staggered {
        flex-direction: row-reverse;
    }

    .mockupContainer,
    .code {
        aspect-ratio: 16 / 9;
        width: 50%;
    }

    .projectHeader {
        font-size: clamp(14px, 1.4vw, 25px);
    }

    .codeContainer {
        font-size: clamp(14px, 1.4vw, 22px);
        font-family: var(--font-code);
    }

}