.menuContainer {
    /* Container styling */
    display: flex;
    flex-direction: column;

    /* Position styling */
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    gap: 10px;

    /* Logical styling */
    pointer-events: none;
}

.visible {
    pointer-events: auto;
}

.menuLink {
    /* Text styling */
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 80%;
    font-size: clamp(40px, 10.66vw, 80px);
    font-weight: 700;

    /* Animation transition properties */
    opacity: 0;
    transform: translateX(40px);
    transition:
        opacity 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0s;
}

.visible .menuLink {
    opacity: 1;
    transform: translateX(0);
    transition-delay: calc(0.3s + var(--index) * 0.1s);
}

.menuLink:hover {
    color: aqua;
    transform: translateY(-2px) scale(1.05);
    transition-duration: 0.2s;
    transition-delay: 0s;
}

@media (min-width:750px) {
    .menuLink {
        font-size: 80px;
    }
}

@media (min-width:1200px) {
    .menuContainer {
        right: 10%;
        top: 50%;
        transform: translate(0, -50%);
    }

    .menuLink {
        text-align: end;
        font-size: clamp(85px, 5.36vw, 103.25px);
    }
}