.connectForm {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 75%;
}

.nameGroup {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.connectForm label {
    font-weight: 700;
    color: gray;
    margin-bottom: 5px;
    font-size: clamp(13px, 1.25vw, 15px);
}

.connectForm input {
    height: 38px;
}

.connectForm input,
.connectForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-family: var(--font-inter);
    font-size: 15px;
}

.connectForm input::placeholder,
.connectForm textarea::placeholder {
    font-size: 12.2px;
}


.buttonGroup {
    display: flex;
    width: 100%;
    gap: 15px;
    margin-top: 20px;
}

.connectForm button {
    background-color: var(--neutral-white);
    border: 1px solid #ccc;
    color: var(--neutral-black);
    font-weight: bold;
    height: 45px;
    cursor: pointer;
    width: 50%;
}

.connectForm button[type="submit"] {
    border: none;
    background-color: var(--primary);
    color: var(--neutral-white);
}

@media (min-width: 750px) {
    .connectForm {
        width: 65%;
    }

    .connectForm input {
        height: 50px;
    }

    .connectForm input::placeholder,
    .connectForm textarea::placeholder {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    .connectForm {
        width: 48%;
    }

    .nameGroup {
        grid-template-columns: 1fr 1fr;
    }
}