.typedText {
    padding-right: 2px;
    border-right: 1px solid;
    animation: border-blink 1s infinite;
    height: 20px;
}

@keyframes border-blink {

    0%,
    100% {
        border-color: var(--neutral-white);
    }

    50% {
        border-color: transparent;
    }
}