.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.title {
    font-weight: 700;
    font-size: clamp(25px, 7.73vw, 58px);
    color: var(--primary);
    margin-bottom: 15px;
}

@media (min-width: 750px) {
    .title {
        font-size: clamp(50px, 6.66vw, 80px);
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: clamp(50px, 5.05vw, 97px);
    }
}