.mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;

    /* background-color: var(--primary); */
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.ellipseOne {
    width: 200px;
    height: 100px;

    border-radius: 50%;
    background-color: var(--primary);
}