.mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    /* pointer-events: none; */
}

.visible {
    /* pointer-events: auto; */
}

.ellipseOne {
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translate(-50%, 0) scale(0.5);

    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--primary);

    transition: top 1.5s cubic-bezier(0.2, 0, 0, 1),
        transform 1.5s cubic-bezier(0.2, 0, 0, 1);

}

.ellipseTwo {
    position: absolute;
    top: 50%;
    right: 100vw;
    transform: translate(0, -50%) scale(0.5);


    width: 480px;
    height: 480px;
    border-radius: 50%;
    background-color: var(--primary);

    transition: right 1.5s cubic-bezier(0.2, 0, 0, 1),
        transform 1.5s cubic-bezier(0.2, 0, 0, 1);
}

.ellipseThree {
    position: absolute;
    bottom: 100vh;
    left: 50%;
    transform: translate(-50%, 0) scale(0.5);

    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--primary);

    transition: bottom 1.5s cubic-bezier(0.2, 0, 0, 1),
        transform 1.5s cubic-bezier(0.2, 0, 0, 1);
}

.ellipseFour {
    position: absolute;
    top: 50%;
    left: 100vw;
    transform: translate(0, -50%) scale(0.5);

    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--primary);

    transition: left 1.5s cubic-bezier(0.2, 0, 0, 1),
        transform 1.5s cubic-bezier(0.2, 0, 0, 1);
}

.visible .ellipseOne {
    top: 80vh;
    transform: translate(-50%, 0) scale(4);
}

.visible .ellipseTwo {
    right: 90vw;
    transform: translate(0, -50%) scale(4);
}

.visible .ellipseThree {
    bottom: 80vh;
    transform: translate(-50%, 0) scale(4);
}


.visible .ellipseFour {
    left: 90vw;
    transform: translate(0, -50%) scale(4);
}