@font-face {
  font-family: 'Inter Custom';
  src: url('/fonts/inter-cyrillic-100-normal.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Custom';
  src: url('/fonts/inter-cyrillic-700-normal.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

:root {
  --primary: #222831;
  --secondary: #3f72af;
  --tertiary: #bacae7;
  --neutral-white: #f9f7f7;
  --neutral-black: #111111;
  --code-color-1: #ff70ea;
  --code-color-2: #ebc54b;

  --font-inter: 'Inter Custom', 'Inter';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--neutral-white);
  font-family: var(--font-inter);
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}