/* Header */
.collectionHeader {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: clamp(18px, 1.25vw, 24px);
    font-weight: 700;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

/* Item */
.itemCollection {
    padding-left: 19px;
    padding-bottom: 20px;
}

.item {
    display: flex;
    height: 100%;
    gap: 12px;
}

.item .bullet {
    padding-bottom: 20px;
}

.item:last-child .bullet {
    padding-bottom: 0px;
}

/* Timeline Graphics */
.timelineGraphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ellipse {
    width: 13px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--neutral-white);
}

.line {
    width: 2px;
    height: 100%;
    background-color: var(--neutral-white);
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.detailPrimary,
.detailSecondary {
    font-weight: 700;
    font-size: clamp(12px, 0.98vw, 19px);
}

.detailSecondary {
    color: var(--tertiary);
}

.bullet {
    margin-left: 20px;
}

.learning,
.bullet {
    font-size: clamp(13px, 2.26vw, 17px);
}

.certification {
    display: flex;
    align-items: center;
}

.certification img {
    width: clamp(50px, 25vw, 300px);
    aspect-ratio: 1;
}

a.detailSecondary {
    text-decoration: underline;
}

@media (min-width:750px) {
    .certification img {
        width: 300px
    }

    .detailPrimary,
    .detailSecondary {
        font-size: clamp(17px, 0.98vw, 19px);
    }

    .bullet,
    .learning {
        font-size: 17px;
    }
}

@media (min-width:1200px) {
    .content {
        gap: 7px;
    }
}