.card {
    display: flex;
    background-color: var(--primary);
    padding: 17px;
    border-radius: 17px;
    width: fit-content;

    box-shadow:
        0 3px 6px 0 rgba(0, 0, 0, 0.401),
        0 2px 2px 0 rgba(0, 0, 0, 0.171),

        inset 2px 2px 3px rgba(255, 255, 255, 0.05),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3);
}

.alignRight {
    margin-left: auto;
    margin-right: 0;
}

.alignLeft {
    margin-right: auto;
    margin-left: 0;
}

.fullSize {
    width: 100%;
}