.card {
    display: flex;
    background-color: var(--primary);
    padding: 17px;
    border-radius: 17px;
    width: fit-content;
}

.alignRight {
    margin-left: auto;
    margin-right: 0;
}

.alignLeft {
    margin-right: auto;
    margin-left: 0;
}