.mainCont {
    display: flex;
}

.icon {
    display: none
}

.container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

}

.title {
    font-weight: 700;
    font-size: 21.33px;
    font-size: clamp(15px, 2.0vw, 21px);
    padding-bottom: 10px;
}

.body {
    display: flex;
    font-size: clamp(12px, 2.0vw, 17px);
    height: 100%;
    justify-content: center;
    align-items: center;
}

@media (min-width: 400px) {
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .container {
        font-size: 16px;
    }
}