.resumeContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;

    width: 100vw;
    margin: 82px 0;
    gap: 20px;
}

.sectionOne {
    position: unset;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 90%;
    gap: 24px;
}

.sectionTwo {
    padding-top: 20px;
    width: 90%;
}

@media (min-width:750px) {
    .sectionOne {
        flex-direction: unset;
    }

}

@media (min-width:1200px) {
    .resumeContainer {
        align-items: unset;
        flex-direction: row;
    }

    .sectionOne {
        width: 20%;
        flex-direction: column;
    }

    .sectionTwo {
        width: 70%;
    }
}