.resumeContainer {
    display: flex;
    position: relative;
    width: 100vw;
    margin: 82px 0;
    padding: 0 102px;
    gap: 20px;
}

.sectionOne {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 20%;
    height: fit-content;
    gap: 24px;
}

.sectionTwo {
    padding-top: 20px;
    width: 80%;
}