.resumeContainer {
    display: flex;
    width: 100vw;
    margin: 102px 0;
    padding: 0 102px;
    gap: 20px;
}

.sectionOne {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 20%;
    gap: 24px;
}

.sectionTwo {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 80%;
}