.resumeContainer {
    display: flex;
}

.sectionOne {
    display: flex;
    flex-direction: column;
}

.piiCard {
    display: flex;
    flex-direction: column;
}

.pii {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.image {
    background-color: var(--neutral-white);
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-bottom: 20px;
}