.carousel {
    position: relative;
    display: flex;
    width: 100%;
    height: 45px;
    overflow: hidden;
    padding: 7px;
}

.group {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    animation: scroll-loop 15s linear infinite;
}

.group:hover {
    animation-play-state: paused;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    transition: 300ms;
}

.container:hover {
    cursor: pointer;
    transform: scale(1.2);
}

@keyframes scroll-loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}