.mainCont {
    display: flex;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    color: var(--neutral-white);
    padding-left: 10px;
}

.title {
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 21.33px;
    padding-bottom: 10px;
}

.body {
    font-family: var(--font-inter);
    font-size: 17.07px
}