.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 20px;
    right: -120px;
    width: clamp(20px, 7.86vw, 59px);
    aspect-ratio: 1;
    z-index: 1000;

    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-150px);
}

@media (min-width: 1200px) {
    .iconContainer {
        right: 0;
    }

    .visible {
        transform: translateX(-100px);
    }
}