.section {
    display: flex;
    flex-direction: column;

    margin: 100px auto 0 auto;
    width: 956px;
}

.title {
    text-align: center;
    font-size: 87px;
    font-family: var(--font-inter);
}

.body {
    text-align: center;
    font-size: 20px;
    font-family: var(--font-inter);
    margin-top: 20px;
}