.section {
    display: flex;
    flex-direction: column;

    margin: 100px auto 0 auto;
    width: 956px;
}

.title {
    text-align: center;
    font-size: 87px;
    color: var(--neutral-black);
}

.body {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: var(--neutral-black);
}