.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 80vh;
    width: 86vw;

    font-size: clamp(20px, 6.50vw, 50px);
    font-weight: 700;
    color: black;

    line-height: (20px, 2vh, 25px);
}

.subtitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.body {
    margin-top: 20px;
    font-size: clamp(15px, 3.33vw, 25px);
    opacity: 0.7;
    line-height: 20px;
    text-align: center;
}

.button {
    margin-top: 20px;
    background-color: var(--primary);
    padding: 5px 30px;
    font-size: clamp(15px, 3.33vw, 25px);
    border-radius: 50px;
}

@media (min-width:750px) {
    .content {
        font-size: 50px;
        line-height: 45px;
    }

    .body {
        font-size: 25px;
        line-height: 25px;
    }

    .button {
        font-size: 25px;
    }
}