.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 80vh;
    width: 650px;

    font-size: 50px;
    font-weight: 700;
    color: black;

    line-height: 45px;
}

.subtitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.body {
    margin-top: 20px;
    font-size: 25px;
    opacity: 0.7;
    line-height: 25px;
    text-align: center;
}

.button {
    margin-top: 20px;
    background-color: var(--primary);
    padding: 5px 30px;
    font-size: 25px;
    border-radius: 50px;
}