.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.head {
    display: flex;
    gap: 8px;

    font-size: 17px;
    font-weight: 700;
}

.bar,
.progress {
    height: 15px;
}

.bar {
    width: 100%;
    border-radius: 68px;
    background-color: var(--neutral-white);
}

.progress {
    width: 100%;
    border-radius: 68px;
    background-color: var(--secondary);
}

@media (min-width:1200px) {
    .head {
        font-size: clamp(13px, 1vw, 24px);
    }

    .bar,
    .progress {
        height: 10px;
    }
}